.background
{
    padding: 20px;
}
.info-container
{
    background-color: #4744481a;
    border-radius: 8px;
    padding: 10px;
}

.text
{
    font-size: 30px;
    color: #c7c7c7;
}

.card
{
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover
{
    transform: scale(1.03);
}

.card-body
{
    background-color: #474448;
    border-radius: 0px 0px 0px 10px;
}

.card-title
{
    color: #fff;
}

.card
{
    background: none;
    border: none;
}