<div class="screen" *ngIf="this.tipo != null; else elseBlock">
    <div *ngIf="registrado == false" style="display: flex;">
        <div>
            <app-user *ngIf="this.tipo == 'Usuario'" (registrado)="recibirRegistro($event)"></app-user>
            <app-especialista *ngIf="this.tipo == 'Especialista'" (registrado)="recibirRegistro($event)"></app-especialista>
            <app-admin *ngIf="this.tipo == 'Admin'"></app-admin>
        </div>
    </div>
    <app-email-validate *ngIf="registrado"></app-email-validate>
</div>
<ng-template #elseBlock>
    <div class="background">
        <button class="btn btn-op" (click)="onOptionClick('Usuario')">
            <img class="img-btn" src="./../../../assets/usuario.jpeg">
            <span>USUARIO</span>
        </button>
        <button class="btn btn-op" (click)="onOptionClick('Especialista')">
            <img class="img-btn" src="./../../../assets/especialista.jpeg">
            <span>ESPECIALISTA</span>
        </button>
    </div>
</ng-template>