<div class="screen">
    <div *ngIf="registrado == false" style="display: flex;">
        <div class="login-container" style="margin-right: 20px; height: 200px;" >
            <div class="title-container">
                <h2>Register</h2>
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="radio-button">
                <div>
                    <input type="radio" id="especialista-radio" name="radios" [(ngModel)]="tipo" value="Especialista"
                        checked>
                    <label for="especialista-radio">Especialista</label>
                </div>
                <div>
                    <input type="radio" id="usuario-radio" name="radios" [(ngModel)]="tipo" value="Usuario">
                    <label for="usuario-radio">Usuario</label>
                </div>
                <div *ngIf="this.auth.rol == 'Admin'">
                    <input type="radio" id="admin-radio" name="radios" [(ngModel)]="tipo" value="Admin">
                    <label for="admin-radio">Admin</label>
                </div>
            </div>
        </div>
        <div>
            <app-user *ngIf="this.tipo == 'Usuario'" (registrado)="recibirRegistro($event)"></app-user>
            <app-especialista *ngIf="this.tipo == 'Especialista'" (registrado)="recibirRegistro($event)"></app-especialista>
            <app-admin *ngIf="this.tipo == 'Admin'"></app-admin>
        </div>
    </div>
    <app-email-validate *ngIf="registrado"></app-email-validate>
</div>