<div class="row background">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <h1>TURNOS</h1>
            </div>
        </div>

        <div class="info-container">
            <div class="row">
                <div class="col-md-12 text">
                    <span><b>Especialidad</b></span>
                </div>
            </div>
            <div class="row especialidad">
                <div *ngFor="let especialidad of this.especialidades" class="radio-button col-md-3 col-sm-4">
                    <input type="radio" [id]="especialidad" name="radios" [value]="especialidad" [(ngModel)]="this.especialidadSeleccionada"  (change)="onEspecialidadChange(especialidad)" checked>
                    <label [for]="especialidad">{{especialidad}}</label>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="row">
                <div class="col-md-12 text">
                    <span><b>Pacientes</b></span>
                </div>
            </div>
            <div class="row especialidad">
                <div *ngFor="let paciente of this.pacientes" class="radio-button col-md-2 col-sm-4">
                    <input type="radio" [id]="paciente" name="radio" [value]="paciente" (change)="onPacienteChange(paciente)" [(ngModel)]="this.pacienteSeleccionado"  checked>
                    <label [for]="paciente">{{paciente}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="clean-btn" (click)="onLimpiarFiltrosClick()">
                    <span>LIMPIAR FILTROS</span>
                </button>
            </div>
        </div>

        <div class="turnos-container">
            <div class="row">
                <div class="col-md-12 turno" *ngFor="let turno of this.turnosFiltrados">
                    <div class="info">
                        <span>{{turno.Especialidad}}</span>
                        <div>
                            <button class="button-cancel" (click)="onRechazarTurnoClick(turno)" *ngIf="turno.Estad == 'pendiente' ">
                                <i class="bi bi-x-lg"></i>
                            </button>
                            <button class="button-cancel" (click)="onCancelClick(turno)" *ngIf="turno.Estad == 'esperando'">
                                <i class="bi bi-x-lg"></i>
                            </button>
                            <button class="button" (click)="onAcceptTurnoClick(turno)" *ngIf="turno.Estad == 'pendiente' ">
                                <i class="bi bi-check"></i>
                            </button>
                            <button class="button" (click)="onFinishTurnoClick(turno)" *ngIf="turno.Estad == 'esperando'">
                                <i class="bi bi-file-earmark-person"></i>
                            </button>
                            <button class="button" (click)="onViewMessageClick(turno)" *ngIf="turno.Estad == 'finalizado' && turno.Mensaje.length > 0 ">
                                <i class="bi bi-file-earmark-person"></i>
                            </button>
                            <button class="button" (click)="onHistoraClick(turno)" *ngIf="turno.Estad == 'finalizado' && turno.Mensaje.length > 0 ">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="info">
                        <span>{{turno.Paciente}}</span>
                        <div>
                            <span>{{turno.Dia}} / {{turno.Mes}} / {{turno['Año']}}</span>
                        </div>
                        <span>{{turno.Horario}}</span>
                        <span [ngClass]="{'esp': turno.Estad == 'esperando', 'can': turno.Estad == 'cancelado', 'fin': turno.Estad == 'finalizado', 'pen': turno.Estad == 'pendiente'}">{{turno.Estad.toUpperCase()}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5"> 
        <app-cancelar-turno [turno]="turnoSeleccionado" (close)="onCancelTurnoDismiss()" *ngIf="this.viewCancel"></app-cancelar-turno>
        <app-rechazar [turno]="turnoSeleccionado" (close)="onRechazarTurnoDismiss()" *ngIf="this.viewRechazar"></app-rechazar>
        <app-finish [turno]="turnoSeleccionado" (close)="onFinishTurnosDismiss()" *ngIf="this.viewFinish"> </app-finish>
        <app-visualizar-resenia [turno]="turnoSeleccionado" (close)="onReseniaTurnoDismiss()" *ngIf="this.viewMessage"></app-visualizar-resenia>
        <app-historia-clinica [turno]="turnoSeleccionado" (close)="onHsitoriaClinicaDismiss()" *ngIf="this.viewHistoria"></app-historia-clinica>
    </div>
</div>

<!-- *ngIf="this.viewCancel -->