.screen
{
    width: 100%;
    height: 90vh;
}

.background
{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.user-container
{
    border-radius: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #474448;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: #70303960 5px solid;
    i
    {
        margin: 0px 10px;
        padding: 10px;
        border-radius: 8px;
    }
}

i
{
    font-size: 20px;
}

.users
{
    padding: 90px;
    height: 80%;
    overflow-y: scroll;
}

.users-container
{
    height: 90%;
    background-color: #6b676d;
    margin-bottom: 30px;
}

h1
{
    text-align: center;
    font-size: 30px;
    background-color: #474448;
    padding: 10px;
}

.buttons-container
{
    display: flex;
}

.button-option
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 70px;
    border: none;
}
i
{
    color: whitesmoke;
}

.button-reject
{ 
    background-color: #703039a2;
}

.button-accept
{
    background-color: #27301f98;
}

img
{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-position: center;
    object-fit: cover;
}

.user
{
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #325140;
    color: whitesmoke;
}
