<div class="app-container">
  <div class="loading-overlay" *ngIf="loading.isLoading">
    <app-loading></app-loading>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <div class="login-container" *ngIf="this.auth.userName == ''">
          <i class="bi bi-person-circle"></i>
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
        </div>
        <div class="login-container" *ngIf="this.auth.userName.length > 1">
          <i class="bi bi-person-circle"></i>
          <span>@{{this.auth.userName}}</span>
        </div>
        <li class="nav-item" *ngIf="this.auth.rol == 'Admin'">
          <a class="nav-link" href="user-validation">Usuarios</a>
        </li>
      </ul>
    </div>
    <div>
      <button type="button" (click)="OnLogOutClick()" class="btn">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>

  </nav>
  <router-outlet></router-outlet>
</div>