<div class="background">
    <div class="row">
        <div class="col-md-12 mb-2 title">
            <h1>Inicios de sesión totales: {{this.countsTotales}}</h1>
            <button class="btn" (click)="onPdfDownload()"><span>Descargar </span><i class="bi bi-download"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div #chartContainer id="chart" echarts [options]="option" (chartClick)="onChartClick($event)"></div>
        </div>
    </div>
    <div class="row users-container">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>{{this.fechaSeleccionada}}</h1>
        </div>
        <div class="container">
            <div class="user" *ngFor="let user of this.users">
                <span>{{user.UserName}}</span>
                <span>{{user.Date.toDate() | date: 'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </div>
    </div>
</div>