*{
    margin: 0;
    padding: 0;
}

.title
{
    background-color: #474448;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn
{
    background-color: #34323596;
    padding: 10px;
    border-radius: 20px;
}

.background
{
    padding: 10px;
}
.users-container
{
    padding: 30px;
    background-color: #474448c4;
    border-radius: 8px;
    height: 270px;
    flex-direction: column;
}

.user
{
    background-color: #b7b7b7;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 40px;
}

.container
{
    overflow-y: scroll;
    height: 150px;
}