/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*
{
    font-family: 'Nunito', sans-serif;
}

small
{
    padding: 5px 10px;
    background-color: #FF181830;
    border-radius: 10px;
    color: rgb(37, 37, 37);
}

body
{
    background-color: #B5B5B5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
